html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 16px;
    /* Google fonts 输出的 CSS */
    font-family: 'RocknRoll One', sans-serif;  }
body {
    margin: 0;
    background-color: bisque;
}
nav {
    background-color: black;
    color:white;
    margin: 0;
    padding: 10px;
}
h1 {display: inline;
    height: 1em;
    line-height: 1em;
}
button {float: right;}
img {
    width: 320px;
    height: 427px;
}

#content {margin: 1em auto 0 auto;
    width: 960px;
}
